@media(max-width:992px){

.section{

padding:90px 0;

}

}

@media(max-width:768px){

.container{

width:94%;

}

}

@media(max-width:360px){

body {
  font-size: 14px;
}

.container{
  width:95% !important;
}

}